body {
    margin: 0;
    padding: 0;
}

h6 {
    margin-top: 25px !important;
}

iframe {
    width: 500px !important;
    height: 250px !important;
}

.title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.description {
    text-align: center;
}

.search-container {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searcher {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.searchTerm {
    border: 3px solid #337ab7;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #AAA;
}

.searchTerm:focus{
    color: black;
}

.fix-icon {
    position: relative;
    bottom: 5px;
    right: 8px;
}

.vid {
    margin: 15px;
}

.tr-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 42.32px 3.68px rgba(0, 1, 1, 0.122);
}

#main-content div.search-container {
    margin: 0;
}

#myInput {
    width: 30%;
}